# common
.vscode/
.idea/
*.iml

measure*
makeprog.rb
template.*.txt
clean.sh
getall.sh
cmake-build-debug

# Haskell
run
*.o
*.hi

# C / C++
/C/**
/C++/**
!Makefile
!*.h
!*.c
!*.cpp

# Rust
/Rust/target/*
/Rust/Cargo.lock

# TypeScript
/TypeScript/dist/*.js
